
<!DOCTYPE html>
<html >
<head>
    <title>REGISTRATION</title>
</head>
<body>



        <table border ="1" width=70% align="center">

            

</tr>
<tr height="250px">
    <td width="100">


    <fieldset>
        <legend><b>REGISTRATION</b></legend>
        <form action="registration.php" method="POST">
            <br/>
            <table width="100%"  >
            

           <b>Employee Name</b><br>
            <input type="text" name="Fname" value=""><br>

        
            <b>Contact No.</b><br>
            <input type="Number" name="number" value=""><br>


            <b>User Name</b><br>
                
            <input name="userName" type="text"><br>
 
            <b>Password</b><br>
            <input type="password" name=" password" value="" ><br>
             
            
        
            </table>
            
            <input type="submit" name= "submit" value="Submit" style="color: green;">
            <input type="reset">
        </form>
    </fieldset>
    </table>
</body>
</html>